<!-- user information -->
<div class="card shadow-sm mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-60 rounded-10">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0 align-self-center">
                <h3 class="mb-0 text-color-theme">Reward H.</h3>
                <p class="text-muted ">
                    hallreward@gmail.com <br>
                    Warri, Delta State, Nigeria
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h3 class="mb-0 text-color-theme">Financial Goal</h3>
        <p class="text-muted mb-3">
            To have N1m in coop assets and be able borrow extra to help fund my textile business by 2025
        </p>
    </div>
</div>

<!-- Stats and connections -->
<div class="row mb-4 text-center py-4 bg-theme-light">
    <div class="col">
        <h6 class="mb-0">25</h6>
        <p class="text-muted small">Co-operatives</p>
    </div>
    <div class="col">
        <h6 class="mb-0">55</h6>
        <p class="text-muted small">Connections</p>
    </div>
    <div class="col">
        <h6 class="mb-0">345</h6>
        <p class="text-muted small">Coops</p>
    </div>
</div>

<!-- map location -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h6 class="my-1">Address</h6>
            </div>
            <div class="card-body">
                <p class="text-muted">25 Jakpa Junction Rd, Warri, Delta State, Nigeria</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4 ps-3">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col ps-0">
                            <h6 class="mb-1">Email Notification</h6>
                            <p class="text-muted small">All notification will be sent</p>
                        </div>
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="">
                                <i class="bi bi-check2-circle size-22"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col ps-0">
                            <h6 class="mb-1">SMS Notification</h6>
                            <p class="text-muted small">Receive SMS notification of monthly account summary</p>
                        </div>
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="">
                                <i class="bi bi-check2-circle size-22"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col ps-0">
                            <h6 class="mb-1">Profile Visibility</h6>
                            <p class="text-muted small">Show/Hide your membership on co-operative members' list</p>
                        </div>
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="">
                                <i class="bi bi-check2-circle size-22"></i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>