<div class="row mb-3">
    <div class="col text-end">
        <a [routerLink]="[ '/create-coop' ]" class="btn btn-primary btn-md"><i class="bi bi-plus-circle-dotted"></i> Create Coop</a>
    </div>
</div>


<!-- swiper coops -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Coops you belong to</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-4 mb-2">
                <div class="card coop-card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <p class="small">
                                    <span class="text-uppercase size-10">Coop ID</span><br>
                                    <span class="text-muted">488377292747</span>
                                </p>
                            </div>
                            <div class="col align-self-center text-end">
                                <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                                    <img src="assets/img/company3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2 text-truncate">
                                    Emmanuel Farmers MPCS, Ogedegbe, Warri, Delta.
                                </h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="circle-small">
                                            <circle-progress class="d-inline-block me-1 vm" [percent]="55" [radius]="18"
                                            [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'#3c63e2'"
                                            [innerStrokeColor]="'rgba(60, 99, 226, 0.2)'" [animation]="true" [animationDuration]="300"
                                            [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'1'" [backgroundPadding]="0"></circle-progress>
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center ps-0">
                                        <p class="small mb-1 text-muted">Your contributions</p>
                                        <p>55<span class="small">%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-4 mb-2">
                <div class="card coop-card dark-bg">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <p class="small">
                                    <span class="text-uppercase size-10">Coop ID</span><br>
                                    <span class="text-muted">8846764884</span>
                                </p>
                            </div>
                            <div class="col align-self-center text-end">
                                <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                                    <img src="assets/img/company4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2 text-truncate">
                                    Shell Staff of Warri Rig CS, Warri, Delta State
                                </h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="circle-small">
                                            <circle-progress class="d-inline-block me-1 vm" [percent]="20" [radius]="18"
                                            [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'#3c63e2'"
                                            [innerStrokeColor]="'rgba(60, 99, 226, 0.2)'" [animation]="true" [animationDuration]="300"
                                            [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'1'" [backgroundPadding]="0"></circle-progress>
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center ps-0">
                                        <p class="small mb-1 text-muted">Your contributions</p>
                                        <p>20<span class="small">%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-4 mb-2">
                <div class="card coop-card theme-radial-gradient border-0">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-auto align-self-center">
                                <p class="small">
                                    <span class="text-uppercase size-10">Coop ID</span><br>
                                    <span class="text-muted">35454676943</span>
                                </p>
                            </div>
                            <div class="col align-self-center text-end">
                                <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                                    <img src="assets/img/company2-50.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="fw-normal mb-2 text-truncate">
                                    Okwagbe Secondary School Co-operative Society, USLG, Delta State.
                                </h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="circle-small">
                                            <circle-progress class="d-inline-block me-1 vm" [percent]="5" [radius]="18" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'#3c63e2'" [innerStrokeColor]="'rgba(60, 99, 226, 0.2)'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'1'" [backgroundPadding]="0"></circle-progress>
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center ps-0">
                                        <p class="small mb-1 text-muted">Your contributions</p>
                                        <p>5<span class="small">%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
